.posts {
  width: 100%;
  max-width: 600px;
  margin: 0 10px;

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__item {
    padding: 20px;
    border: solid 1px #ccc;
    margin-bottom: 20px;
  }

  &__item-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }

}